
// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index styling

.sidebar{
	color: white;
}


.alumni_heading{
	font-family: Baskerville;
	font-size:40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #700000 ;
	text-align: center;
}

.master_container{
	max-width: 1500px;
	background-color: black;
	margin-left: 40px;
	margin-right: 40px;
}

.profiles_container{
	width: 70%;
	height: 200px;
	padding:15px;
	display:inline;
	position:relative;
	float:right;
	margin: 30px;
	background-color: #75a3a3;
	// background-color: #00b386;
}

.sidebar_panel{
	// border: 2px solid #000;
	height:80%;
	width: 25%;
	display:inline;
	position:relative;
	float:left;
	background:#000;
	padding-top:10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align:center;
}

.card_image{
	float:left;
    width: 140px;
    height: 140px;
    display:inline;
	position:relative;
	margin:5px;
    // border-radius: 50%;
  }

.card_name{
	width: 80%;
	height: 160px;
	top: -16px;
	display:inline;
	position:relative;
	float: right;
	overflow:hidden;
}

.sidebar_panel li{
	font-family: Nanum Myeongjo;
	color: #00e6ac;
	list-style-type: none;
	font-size: 16px;
}


.label{
	font-family: Georgia;
	font-size: 24px;
	color:#000;
}


h2{
	font-family: Impact, Arial;
	text-transform: uppercase;
	line-height:0.9;
	font-size: 32px;
	font-weight: 579;
	color: #fff;
	text-align: left;
	padding:7px;
	font-stretch: semi-expanded;
}

.resumeitem{
	font-family: Cochin bold;
	font-size: 20px;
	color:#004d4d;
}



h3{
	font-family: Cochin;
	text-transform: uppercase;
	color: #ff8080;
	font-weight:bold;
}

h4{
	font-family: Chalkduster;
	color: #fff;
}



//

.sidebar{
	border: 1px solid black;
	background-color: #262626;
}
.headline{
	border: 1px solid black;
	margin: 20px;
	padding: 5px;
}

.circle-image {
	float:left;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.resume-container{
	border: 1px solid black;
	
}

.resume-item{
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}


.job{
	background-color: yellow;
}
.school{
	background-color: green;
}

.project{
	background-color: pink;
}

textarea{
	height: 250px;
}