<h1>Alum Num: Better than LinkedIn. But what isnt?</h1>
<% if current_user && current_user.type = 'Admin' %>
<p> Admin User status panel. <%= current_user.id %> Your usertype: <%= current_user.type %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %> </td>
        <td><%= user.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
You are not an admin
<% end %>
